In [2]:

%env GOOGLE_APPLICATION_CREDENTIALS=/Users/klim/Desktop/area51.json

env: GOOGLE_APPLICATION_CREDENTIALS=/Users/klim/Desktop/area51.json

In [3]:
import pandas as pd
from google.cloud import bigquery

client = bigquery.Client()

In [23]:
sql = """
    select distinct(entity) from raw.tweet
    where data_ts > timestamp_sub(current_timestamp(), interval 24 hour)
    order by entity
"""
df = client.query(sql).to_dataframe()
for ent in df.entity: print(ent)

"ada" OR "cardano" (#ada OR #cardano) until:2022-08-07 since:2022-08-06
"ada" OR "cardano" (#ada OR #cardano) until:2022-08-08 since:2022-08-07
"ark" OR "ark invest" (#ark OR #arkinvest) until:2022-08-07 since:2022-08-06
"ark" OR "ark invest" (#ark OR #arkinvest) until:2022-08-08 since:2022-08-07
"avax" OR "avalanche" (#avax OR #avalanche) until:2022-08-07 since:2022-08-06
"avax" OR "avalanche" (#avax OR #avalanche) until:2022-08-08 since:2022-08-07
"binance" OR "binance.us" (#binance) until:2022-08-07 since:2022-08-06
"binance" OR "binance.us" (#binance) until:2022-08-08 since:2022-08-07
"blockchain" (#blockchain) until:2022-08-07 since:2022-08-06
"bnb" OR "binance coin" OR "bsc" OR "binance smart chain" (#bnb OR #bsc OR #binancecoin OR #binancesmartchain) until:2022-08-07 since:2022-08-06
"bnb" OR "binance coin" OR "bsc" OR "binance smart chain" (#bnb OR #bsc OR #binancecoin OR #binancesmartchain) until:2022-08-08 since:2022-08-07
"btc" OR "bitcoin" (#btc OR #bitcoin) until:2022-08-07 since:2022-08-06
"btc" OR "bitcoin" (#btc OR #bitcoin) until:2022-08-08 since:2022-08-07
"chainlink" (#link OR #chainlink) until:2022-08-07 since:2022-08-06
"chainlink" (#link OR #chainlink) until:2022-08-08 since:2022-08-07
"coinbase" OR "$COIN" (#coin OR #coinbase) until:2022-08-07 since:2022-08-06
"coinbase" OR "$COIN" (#coin OR #coinbase) until:2022-08-08 since:2022-08-07
"crypto" OR "cryptocurrency" (#crypto OR #cryptocurrency) until:2022-08-08 since:2022-08-07"blockchain" (#blockchain) until:2022-08-08 since:2022-08-07
"dao" ("#dao") until:2022-08-08 since:2022-08-07
"dao" (#dao) until:2022-08-07 since:2022-08-06
"defi" OR "gamefi" (#defi OR #gamefi) until:2022-08-07 since:2022-08-06
"defi" OR "gamefi" OR "dao" (#defi OR #gamefi OR "#dao") until:2022-08-08 since:2022-08-07
"doge" OR "dogecoin" (#doge OR #dogecoin) until:2022-08-07 since:2022-08-06
"doge" OR "dogecoin" (#doge OR #dogecoin) until:2022-08-08 since:2022-08-07
"elon musk" (#elonmusk OR #elon) until:2022-08-07 since:2022-08-06
"elon musk" (#elonmusk OR #elon) until:2022-08-08 since:2022-08-07
"erg" OR "ergo" (#erg OR #ergo) until:2022-08-07 since:2022-08-06
"erg" OR "ergo" (#erg OR #ergo) until:2022-08-08 since:2022-08-07
"eth" OR "ethereum" (#eth OR #ethereum) until:2022-08-07 since:2022-08-06
"eth" OR "ethereum" (#eth OR #ethereum) until:2022-08-08 since:2022-08-07
"ftx" OR "ftx.us" (#ftx) until:2022-08-07 since:2022-08-06
"ftx" OR "ftx.us" (#ftx) until:2022-08-08 since:2022-08-07
"jack dorsey" (#jackdorsey) until:2022-08-07 since:2022-08-06
"matic" OR "polygon" (#matic OR #polygon) until:2022-08-07 since:2022-08-06
"matic" OR "polygon" (#matic OR #polygon) until:2022-08-08 since:2022-08-07
"michael saylor" (#michaelsaylor) until:2022-08-07 since:2022-08-06
"nft" OR "nfts" OR "metaverse" (#nft OR #nfts OR #metaverse) until:2022-08-07 since:2022-08-06
"nft" OR "nfts" OR "metaverse" (#nft OR #nfts OR #metaverse) until:2022-08-08 since:2022-08-07
"sam bankman" OR "sbf" (#sbf OR #sambankman) until:2022-08-07 since:2022-08-06
"shib" OR "shibatoken" (#shib OR #shibatoken) until:2022-08-07 since:2022-08-06
"shib" OR "shibatoken" (#shib OR #shibatoken) until:2022-08-08 since:2022-08-07
"sol" OR "solana" (#sol OR #solana) until:2022-08-07 since:2022-08-06
"sol" OR "solana" (#sol OR #solana) until:2022-08-08 since:2022-08-07
"vitalik buterin" (#vitalik OR #vitalikbuterin) until:2022-08-07 since:2022-08-06
"web3" (#web3) until:2022-08-07 since:2022-08-06
"web3" (#web3) until:2022-08-08 since:2022-08-07
"xrp" OR "ripple" (#xrp OR #ripple) until:2022-08-07 since:2022-08-06
"xrp" OR "ripple" (#xrp OR #ripple) until:2022-08-08 since:2022-08-07

In [ ]:
sql = """
    update raw.tweet
    set entity = '"dao" (#dao) until:2022-08-08 since:2022-08-07'
    where
        entity = '"dao" ("#dao") until:2022-08-08 since:2022-08-07'
        and data_ts < timestamp_sub(current_timestamp(), interval 30 minute)
"""
print(sql)
df = client.query(sql).to_dataframe()
df

In [ ]:
sql = """
    delete from raw.tweet
    where 
        entity like '"crypto" OR "cryptocurrency" (#crypto OR #cryptocurrency) until:2022-08-08 since:2022-08-07"blockchain" (#blockchain)%'
        and data_ts < timestamp_sub(current_timestamp(), interval 40 minute)
"""
print(sql)
df = client.query(sql).to_dataframe()
df

In [27]:
sql = """
select distinct extract(week from data_ts) from fct.user_snapshots
order by 1
"""
print(sql)
df = client.query(sql).to_dataframe()
df

select distinct extract(week from data_ts) from fct.user_snapshots
order by 1

   f0_
0   31
1   32

In [47]:
sql = """
select
    id
    , count(t = 'ada') count_ada
from
    fct.tweet_mentioned_tokens
    , unnest(tokens) t
where
    array_length(tokens) > 1
group by
    1
limit
    10
"""

print(sql)
df = client.query(sql).to_dataframe()
df

select
    id
    , count(t = 'ada') count_ada
from
    fct.tweet_mentioned_tokens
    , unnest(tokens) t
where
    array_length(tokens) > 1
group by
    1
limit
    10

                    id  count_ada
0  1555389135971573760          2
1  1555762385704697859          3
2  1554882531664842755          3
3  1554976906180808707          3
4  1555022178621571073          3
5  1555679021781991424          5
6  1555622848256942080          2
7  1555660615825367042          2
8  1551892830771183618          2
9  1554173622360621056          2