In [3]:


%env GOOGLE_APPLICATION_CREDENTIALS=/Users/klim/Desktop/area51.json

env: GOOGLE_APPLICATION_CREDENTIALS=/Users/klim/Desktop/area51.json

In [5]:
import pandas as pd
from google.cloud import bigquery

client = bigquery.Client()

In [6]:
sql = """
    select * from fct.INFORMATION_SCHEMA.PARTITIONS
"""

df = client.query(sql).to_dataframe()
df

,table_catalog,table_schema,table_name,partition_id,total_rows,total_logical_bytes,total_billable_bytes,last_modified_time,storage_tier
0,area51-lab,fct,tweets,None,262718,87713286,87713286,2022-08-06 10:11:37.030000+00:00,ACTIVE
1,area51-lab,fct,user_snapshots,None,165352,31646110,31646110,2022-08-06 10:12:08.207000+00:00,ACTIVE

In [ ]:
sql = """
    select * from fct.INFORMATION_SCHEMA.PARTITIONS
"""

df = client.query(sql).to_dataframe()
df